<ul>
  <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0" target="_blank">+You</a></li>
  <li><a href="https://mail.google.com/" target="_blank">Gmail</a></li>
  <li><a href="https://www.google.com/imghp?hl=en&ei=D1UzVMnFOIL_sAStv4GICA&ved=0CAMQqi4oAg" target="_blank">Images</a></li>
  <li><img src="images/grid.jpg"/></a></li>
  <li><a href=""><button type="button" class="btn btn-primary">Sign In</button></a></li>
</ul>
<div class="section">
    <a href="http://google.com"></a><img src="images/logo.jpg"/>
</div>
<div class="search">
  <a class"centerlogo">
    <img src="images/microphone.jpg"/>
  </a>
</div>
<div class="section1">
  <button name="button1" class="btn btn-default">Google Search</button>
  <button name="button1" class="btn btn-default">I'm Feeling Lucky</button>
</div>
<div class="footer">
  <span id="fsr">
    <a class="_Gs" href="https://www.google.com/preferences?hl=en">Settings</a>
  </span>
  <span id="fsr">
    <a class="_eA" href="/intl/en/policies/?fg=1">Privacy &amp; Terms</a>
  </span>
  <span id="fsl">
    <a class="_eA" href="/intl/en/ads/?fg=1">Advertising</a>
    <a class="_Gs" href="/services/?fg=1">Business</a>
    <a class="_Gs" href="/intl/en/about.html?fg=1">About</a>
  </span>
</div>
