<div class="header">
  <div class="container" id="container1">
    <ul>
      <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0" target="_blank">+You</a></li>
      <li><a href="https://mail.google.com/" target="_blank">Gmail</a></li>
      <li><a href="https://www.google.com/imghp?hl=en&ei=D1UzVMnFOIL_sAStv4GICA&ved=0CAMQqi4oAg" target="_blank">Images</a></li>
      <li><img src="images/grid.jpg"/></a></li>
      <li><a href=""><button type="button" class="btn btn-primary">Sign In</button></a></li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <a href="http://google.com"></a><img src="images/logo.jpg"/>
  </div>
</div>
