ul {
  list-style-type: none;
  text-align:right;
}

li {
  display:inline-block;
  vertical-align:middle;
  padding:4px;
  margin-right: 12px;
}
.section {
  text-align: center;
  height: 231px;
  width: 1620px;
  padding-top: 112px;
}
.search {
  display: block;
  border: 1px solid rgb(185,185,185);
  margin-top: 75px;
  margin-left: 525px;
  margin-right: 525px;
  text-align: right;
}
